
$btn-color: #0079ff;

//light mode colors
$light-text: #697c9a;
$light-text2: #4b6a9b;
$light-text3: #2b3442;
$light-bg-card: #f6f8ff;
$light-bg-main: #fefefe;

//dark mode colors
$dark-text: #ffff;
$dark-bg-card: #1e2a47;
$dark-bg-main: #141d2f;
