@use "sass:math";

@import "./Global-Sass/colors", "./Global-Sass/function";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root,body, html{
    min-width: rem(375);
    font-family: 'Space Mono', monospace;
    height: 100%;
}

.App{
    background-color: $light-bg-card;
    height: 100%;

}

.App.dark{
    background-color: $dark-bg-main;
    color: #ffff;
}

.header-container{
    width: 90%;
    margin: 0 auto;
    &__bar{
        display: flex;
        align-items: center;
        padding-top: rem(31);
        .switch-container{
            display: flex;
            align-items: center;
            margin-left: auto;
            gap: 1rem;
            label{
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: rem(2.5);
            }
            input{
                appearance: none;
            }
        }
    }
    .form-container{
        margin-top: rem(36);
        border-radius: rem(15);
        background-color: $light-bg-main;
        display: flex;
        align-items: center;
        padding: rem(7.5);
        justify-content: space-between;
        input{
            border: none;
            font-family: 'Space Mono', monospace;
            width: rem(184);
            height: rem(25);
        }
        .btn-submit{
            padding: rem(12.5) rem(18);
            font-family: 'Space Mono', monospace;
            border: none;
            background-color: $btn-color;
            font-weight: 700;
            color: #ffff;
            letter-spacing: rem(1);
            border-radius: rem(10);
        }
    }
    .form-container.dark{
        background-color: $dark-bg-card;
        input{
            background-color: $dark-bg-card;
            color: #ffff;
            &::placeholder{
                color: #ffff;
            }
        }
    }
}