* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root,
body,
html {
  min-width: 23.4375rem;
  font-family: "Space Mono", monospace;
  height: 100%;
}

a {
  display: flex;
  align-items: center;
  gap: 1.203125rem;
  text-decoration: none;
}

input:-internal-autofill-selected {
  background-color: black;
}

.App {
  background-color: #f6f8ff;
  height: 100%;
}

.App.dark {
  background-color: #141d2f;
  color: white;
}

@media only screen and (min-width: 375px) {
  .to-search {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50%;
  }
  .to-search__content {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    background-color: #fefefe;
    padding: 1.25rem 0.9375rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
  }
  .to-search__content.dark {
    background-color: #1e2a47;
  }
  .header-container {
    width: 90%;
    margin: 0 auto;
  }
  .header-container__bar {
    display: flex;
    align-items: center;
    padding-top: 1.9375rem;
  }
  .header-container__bar .switch-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  }
  .header-container__bar .switch-container label {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15625rem;
    color: #4b6a9b;
  }
  .header-container__bar .switch-container .light-switch {
    color: white;
    cursor: pointer;
  }
  .header-container__bar .switch-container input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .header-container .form-container {
    margin-top: 2.25rem;
    border-radius: 0.9375rem;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    padding: 0.46875rem;
    justify-content: space-between;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }
  .header-container .form-container input {
    border: none;
    font-family: "Space Mono", monospace;
    width: 11.5rem;
    height: 1.5625rem;
  }
  .header-container .form-container .btn-submit {
    padding: 0.78125rem 1.125rem;
    font-family: "Space Mono", monospace;
    border: none;
    background-color: #0079ff;
    font-weight: 700;
    color: white;
    letter-spacing: 0.0625rem;
    border-radius: 0.625rem;
  }
  .header-container .form-container.dark {
    background-color: #1e2a47;
    box-shadow: none;
  }
  .header-container .form-container.dark input {
    background-color: #1e2a47;
    color: white;
  }
  .header-container .form-container.dark input::-moz-placeholder {
    color: white;
  }
  .header-container .form-container.dark input:-ms-input-placeholder {
    color: white;
  }
  .header-container .form-container.dark input::placeholder {
    color: white;
  }
  .profile-section {
    width: 90%;
    margin: 1rem auto auto auto;
    padding: 1.0625rem 1.5rem;
    border-radius: 0.9375rem;
    background-color: white;
  }
  .profile-section__card__bio {
    margin: 1.5rem auto 2rem auto;
    line-height: 1.5625rem;
  }
  .profile-section__card__info {
    display: flex;
    align-items: center;
    gap: 1.1875rem;
  }
  .profile-section__card__info__picture {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
  }
  .profile-section__card__info .profile-content {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }
  .profile-section__card__info .profile-content a {
    color: #0079ff;
  }
  .profile-section__card__socials {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 1.125rem 0.875rem;
    background-color: #f6f8ff;
  }
  .profile-section__card__socials__count {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .profile-section__card__socials__count span:first-child {
    color: #4b6a9b;
    font-size: 0.6875rem;
  }
  .profile-section__card__socials__count span:nth-child(2) {
    font-weight: 700;
  }
  .profile-section__card__socials.dark {
    background-color: #141d2f;
  }
  .profile-section.dark {
    background-color: #1e2a47;
  }
  .footer-profile {
    width: 90%;
    margin: 1.5rem auto auto auto;
    background-color: #fff;
  }
  .footer-profile__bar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-profile__bar__list.dark a {
    color: white;
  }
  .footer-profile.dark {
    background-color: #1e2a47;
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  .header-container,
.to-search,
.profile-section {
    width: 75%;
  }
  .header-container .form-container input {
    width: 15.875rem;
  }
  .profile-section__card__info {
    gap: 2.5625rem;
  }
  .profile-section__card__socials__count span:first-child {
    font-size: 0.8125rem;
  }
  .profile-section__card__socials__count span:nth-child(2) {
    font-size: 1.375rem;
  }
  .footer-profile {
    margin: 1.5rem auto 2.5rem auto;
  }
  .footer-profile__bar__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.1875rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header-container {
    width: 50%;
  }
  .header-container__bar .switch-container {
    transition: all 250ms ease-in-out;
  }
  .header-container__bar .switch-container .dark-switch:hover, .header-container__bar .switch-container svg:hover {
    cursor: pointer;
    color: #222731;
  }
  .header-container__bar .switch-container .light-switch:hover {
    color: #4b6a9b;
  }
  .header-container .form-container input {
    cursor: pointer;
    width: 100%;
    margin: 0 1.5rem;
  }
  .header-container .form-container .btn-submit:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
  .profile-section {
    width: 50%;
  }
  .profile-section__card__bio {
    width: 30rem;
    margin: 1.5rem 0 2rem auto;
  }
  .profile-section__card__socials {
    width: 30rem;
    margin-left: auto;
  }
  .profile-section__card__info h2 {
    font-size: 1.625rem;
  }
  .profile-section__card__info .profile-content {
    width: 30rem;
    margin-left: auto;
  }
  .profile-section__card__info__picture {
    width: 7.3125rem;
    height: 7.3125rem;
  }
  .footer-profile {
    width: 30rem;
    margin: 2.3125rem 0 3rem auto;
  }
  .footer-profile__bar__list a:hover {
    text-decoration: underline;
  }
}/*# sourceMappingURL=index.css.map */